
<div class="container-fluid">
	<div class="row content">

		<div class="col-md-2 col-sm-4 sideNav">
			<h3>Nevigation</h3>
			<hr class="hrColor">
			<nav class="nav nav-pills nav-stacked">
				<li class="active"><a href="#" >SKU Form </a></li>
			</nav>
		</div>
		<div class="col-md-10 col-sm-8">
			<h3>HTTP Modules</h3>
			<hr>
			<!-- <app-form-sku></app-form-sku> -->
			<!-- <app-sku-form-validation></app-sku-form-validation> -->
			<!-- <app-user-analytics></app-user-analytics> -->
			<app-http-module-simple></app-http-module-simple>
			<hr>
			<div class="text-center"><h2>Youtube Search</h2></div>
			
			<hr> 
			<app-youtube-search></app-youtube-search>
		</div>
	</div>
</div>